<gear-row gutter="12">
  <gear-col span="12"></gear-col>
  <gear-col span="12"></gear-col>
</gear-row>

<gear-row gutter="12">
  <gear-col span="8"></gear-col>
  <gear-col span="8"></gear-col>
  <gear-col span="8"></gear-col>
</gear-row>

<gear-row gutter="12">
  <gear-col span="6"></gear-col>
  <gear-col span="6"></gear-col>
  <gear-col span="6"></gear-col>
  <gear-col span="6"></gear-col>
</gear-row>

<gear-row gutter="12">
  <gear-col span="2"></gear-col>
  <gear-col span="22"></gear-col>
</gear-row>